{% extends'base.html.twig' %}
{% block body %}
    <h1>Toutes les category :</h1>
        {% for category in categories %}
            <div>
                <ul>
                    <li>
                        {{ loop.index }} /  <a href="{{ path("category_show", { category: category.name }) }}">{{ category.name }}</a>
                    </li>
                </ul>
            </div>
        {% else %}
            Aucune catégorie trouvée.

        <a href="{{ path('app_index') }}">
            Retour à l'accueil
        </a>
    {% endfor %}
    <a href="{{ path('category_new') }}">
        Crée une categories
    </a>
{% endblock %}