{% extends 'base.html.twig' %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-0 poster" style="width: 500px" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="container-fluid">
            <div class="row">
                <h2 class="mr-0">{{ program.title }} - {{ season.number }}</h2>
            </div>
            <p>Episode n°{{ episode.number }} - {{ episode.title }}</p>
            <p>Resumé: {{ episode.synopsis }}</p>
            <div>
                {% if app.user %}
                    <h3>Ajouter un commentaire</h3>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn-form">Ajouter</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
            <div class="mt-5">
                <h3>Vos commentaires</h3>

                {% for comment in comments %}
                    <p class="mb-0">
                        {{ comment.author.email }} - rate : {{ comment.rate }} - Comment : {{ comment.comment }}
                        {% if is_granted("ROLE_ADMIN") or app.user == comment.author %}
                            {{ include('comment/_delete.html.twig') }}
                        {% endif %}
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    <a class="link-return" href="{{ path("program_season_show", { slug: program.slug, season: season.id }) }}">
        Retour à la liste des épisodes de la saison {{ season.number }}
    </a>
{% endblock %}
