{% extends 'base.html.twig' %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-3 poster" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p>Catégorie : {{ program.category.name }}</p>
            <div>
                <p class="remove-margin">Epsiodes disponibles :</p>
            <li>
                {% for episode in episodes %}
                    <ul>
                        Episode :{{ episode.number }} : {{ episode.title }}
                        <a href="{{ path("program_episode_show", {programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug}) }}">liens vers l'episode</a>
                    </ul>

                {% endfor %}
            </li>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}
