{% extends 'base.html.twig' %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-0 poster" style="width: 500px" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
            <p>{{ season.description }}</p>
            <p>Année de sortie : {{ season.year }}</p>
            <p>Liste des épisodes :</p>
            <li>
                {% for episode in episodes %}
                    <ul>
                        Episode :{{ episode.number }} : {{ episode.title }}
                        <a href="{{ path("program_episode_show", {program: program.id, season: season.id, episode: episode.id }) }}">liens vers l'episode</a>
                    </ul>

                {% endfor %}
            </li>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}