{% extends 'base.html.twig' %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-0 mw-80 poster"  src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
            <p>{{ season.description }}</p>
            <p>Année de sortie : {{ season.year }}</p>
            <p>Liste des épisodes :</p>
            <ul>
                {% for episod in episodes %}
                    <li>
                        Episode :{{ episod.number }} : {{ episod.title }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>

{% endblock %}